<section class="container">
  <div class="row">
    <div class="column">
      <div>
        <h3 class="about-header">WELCOME TO OUR COMMUNITY</h3>
        <p>
          This is place where we can all do something good for ourselves. A place where we can accomplish a goal in just a few minutes and feel great showing personal improvement over time.
          <br>
          This is a place for YOU. A place where, with a few day of very simple activities, you can start seeing results. Results that will build muscle, which in turn make you stronger and help you slowly but surely burn body fat the healthy way.
        </p>
        <hr class="tiny-marg">
        <div class="center-text">
          <a class="about-link" href="/login">Login</a>
          <a class="about-link" href="/users/new">Sign Up</a>
        </div>
        <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/qeGrXtxO6Vc?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
        <img src="http://drfaithfelder.com/wp-content/uploads/2016/09/drfaith.jpg" alt="video place holder">
      </div>
    </div>
    <div class="column">
      <h3 class="about-header">LETS FAIL TOGETHER!</h3>
      <p>
        This IS NOT a place for competition or showing off. It IT NOT a place for lying about your achievements. It IS NOT a place about being better than someone else. Check your ego at the login screen and only enter with honesty to yourself and to members of this community.
        <br>
        This IS a place where we can all check in on eachother's progress, cheer eachother on and maybe even engage in some friendly competition among others who are at our same fitness levels.
        <br>
        Big, Small, Strong, Weak or anything else... YOU BELONG HERE. This is about you!
      </p>
      <h3 class="about-header">WHAT DOES IT MEAN TO FAIL?</h3>
      <p>
        Ever done something you're really bad at and failed quickly? What would happen if you measured your abilities based on one of your first failures? Would you ever know what your true potential was? Probably not!
        <br>
        If you just decided to do 10 pushups two times a day, becasue that's all you could do the first few times you tried, would you ever know if you were capable of 11 or 12 pushups? Probably not.
        <br>
        This is why we "Push to Fail". Setting no limit or actual goal except to see how many repetitions you can do before your muscles fail and you can't do another rep. Until you achieve failure... you push for another rep. This means having a mindset of always chasing growth and never limiting your potential.
        <br>
        This is a proven system which promotes rapid muscle growth. We also recommend a low sugar, low carb and high "healthy" fat diet if you are seeking weight loss to accompany your muscle gain. You can can grow by constantly chasing failure and we're very glad to have you here failing with us a few times each and every day.
      </p>
      <!-- <p>Want to meet up with other users from this site? Join our Slack Chat community.</p> -->
    </div>
  </div>
</section>
