<h3>WELCOME PAGE AND BASIC INFO PAGE!</h3>
<h4>Should have:</h4>
<h5>- Top Scores in each category on a 1/2 sidebar</h5>
<h5>- Links to each page that is public</h5>
<h5>- Links to LOGIN or ACCOUNT CREATION</h5>
<p>EXTRA AWESOME STUFF TO ADD</p>
<h5>- Links to "how to" pages that tell you how to properly perform a workout on the list</h5>
<h5>- Greeting video stating mission for the "failure concept"</h5>
