<section class="container">
  <% if current_user %>
  <h1 class="center-text">New Failure Entry</h1>

  <section class="container">

    <%= render 'form', failure: @failure %>

  </section>
  <% else  %>
  <h1 class="center-text">PLEASE LOG IN OR<br>CREATE AN ACCOUNT</h1>
  <% end %>
</section>
